@import "open-props/style";
@import "open-props/normalize";

:root {
  --bubble-color: var(--text-2);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-6);
  max-width: 80ch;
  margin: auto;
  padding-top: var(--size-6);
}

.selected {
  --bubble-color: var(--brand);
  color: var(--brand);
  background: var(--surface-3);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-3);
}

.categories__button {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-1);
  padding: var(--size-2) var(--size-4);
  border-radius: var(--radius-2);
}

.categories__button:hover {
  background: var(--surface-3);
}

.bubble {
  display: inline-block;
  font-size: var(--font-size-0);
  border: 1px solid var(--bubble-color);
  border-radius: var(--radius-round);
  background: var(--surface-3);
  width: var(--size-6);
  line-height: var(--size-6);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-3);
  grid-auto-rows: minmax(100px, auto);
}

.products__product {
  border: 1px solid var(--surface-3);
  padding: var(--size-5);
}